
@import '<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,600i,700,700i,800,800i|Pacifico" rel="stylesheet">';


/*

font-family: 'Pacifico', cursive;
font-family: 'Open Sans', sans-serif;

*/



.h1,h2,h3,h4,h5,h6,.heading{
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;  
  letter-spacing: 2px;
  
}

p,span,li,a,.para{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
}



body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.bg-indigo{
  background: #3F51B5;
}

.indigo{
  color: #3F51B5;
}

.white{
  color: white;
}

.no-radius{
  border-radius:none;
}

.padding-0{
  padding:0;
}

.padding-15{
  padding:0 15px;
}

.padding-all{
  padding: 15px;
}

.margin-0{
  margin:0;
}

.margin-15{
  margin:15px 0;
}

.margin-10{
  margin:10px 0;
}

.margin-all{
  margin: 15px;
}

.full-width{
  width:100%;
}








.padding-topBar{
  padding: 10px 15px;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}


.bg-blue{
  background:#a3defe;
}



.margin-15{
  margin: 15px 0;
}

.book-container{
  height: 400px;
}

.relative{
  position: relative;
}

.book-container .img{
  width: 40%;
  text-align:center;
  position: absolute;
  bottom:40%;
  width: 100%;
  display: block;
}


.book-container .book-shadow{
  width: 40%;
  text-align:center;
  position: absolute;
  bottom:28%;
  width: 100%;
  display: block;
}

.book-container .book-shadow img{
  width: 60%;
  margin: auto;

}


.book-container .book-desc{
  position: absolute;
  height: 100px;
  width:100%;
  bottom:0;
}

.img  img{
  box-shadow: 5px 5px 18px rgba(33,33,33,0.6);
}

.book-desc h6{
  background: white;
  color: black;
  width: 231px;
  position: relative;
  margin: auto;
  padding: 8px 15px;

  
}



.bg-green{
  background: #cceeb2;
}

.bg-orange{
  background: #ffb14e;
}


.bg-blue{
  background: #a3defe;
}

.bg-purple{
  background: #e3caea;
}

.bg-skin{
  background: #fed8a7;
}


.bg-yellow{
  background:#fef9a7;
}

.bg-red{
  background:#fea7a7;
}

.bg-sky{
  background:#a7edfe;
}
